# Ignore backend sensitive/config files
/backend/node_modules/
/backend/.env
/backend/.env.example.js

# Ignore frontend build/cache files
/frontend/node_modules/
/frontend/.env
/frontend/.next
/frontend/.cache
/frontend/dist

# General
*.log
.DS_Store
.env
